h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

@keyframes moveRobo {
	0%  { transform: translate(0px); }
  100% { transform: translate(200px); }
}

/* @keyframes handLeft {
    0%    {
			transform-origin: top right;
			transform: rotate(0deg);
		}
		100%	{
			transform-origin: top right;
			transform: rotate(5deg);
		}
} */

/* @keyframes handRight {
    0%    {
			transform-origin: top left;
			transform: rotate(0deg);
		}
		5% {

			transform: rotate(0deg);
		}
		10% {

			transform: rotate(0deg);
		}
		15% {
			transform: rotate(0deg);
		}
		20% {
			transform: rotate(0deg);
		}
		25%	{
			transform-origin: top;
			transform: rotate(-150deg);
		}
		50% {
			transform-origin: top;
			transform: rotate(-130deg);
		}
		75% {
			transform-origin: top;
			transform: rotate(-150deg);
		}
		100% {
			transform-origin: top;
			transform: rotate(-130deg);
		}

} */
@keyframes eyesFlash {
		from {
			opacity: 1;
		}
		90% {
			opacity: 1;
		}
		95% {
			opacity: -1;
		}
		to {
			opacity: 1;
		}
}

@keyframes handRight {
    0%    {
			transform-origin: top left;
			transform: rotate(0deg);
		}
		50%    {
			transform-origin: top left;
			transform: rotate(0deg);
		}
		70%	{
			transform-origin: top;
			transform: rotate(-150deg);
		}
		80% {
			transform-origin: top;
			transform: rotate(-130deg);
		}
		90% {
			transform-origin: top;
			transform: rotate(-150deg);
		}
		100% {
			transform-origin: top;
			transform: rotate(-130deg);
		}
}

@keyframes legLeft {
	 from {
		 transform: translateY(0px);
		 transform-origin: top;
		 /* transform: rotate(10deg); */
		 transform: translate(10px);
	 }
	 to{
		 transform: translateY(-10px);
	 }
 }

 @keyframes legRight {
 	 from {
 		 transform: translateY(-10px);
 	 }
 	 to{
 		 transform: translateY(0px);
		 transform-origin: top;
		 /* transform: rotate(10deg); */
		 transform: translate(10px);
 	 }
  }

.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	animation: moveRobo 7s linear infinite alternate;
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
	 background-color: #5f93e8;
}

.head {
	width: 200px;
	margin: 0 auto;
	height: 150px;
	border-radius: 200px 200px 0 0;
	margin-bottom: 10px;
}

.eyes {
	display: flex
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body {
	width: 300px;
	height: 150px;
	display: flex;
}

.left_arm, .right_arm {
	width: 40px;
	height: 125px;
	border-radius: 100px;

}

.left_arm {
	margin-right: 10px;
	animation: handLeft .6s linear infinite alternate;
}

.right_arm {
	margin-left: 10px;
	animation: handRight 2s ease-in infinite alternate;
}

.right_arm:hover {

}

.torso {
	width: 200px;
	height: 200px;
	border-radius: 0 0 50px 50px;
}

.lower_body {
	width: 200px;
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex;
}

.left_leg, .right_leg {
	width: 40px;
	height: 120px;
	border-radius: 0 0 100px 100px;
}

.left_leg {
	margin-left: 45px;
	animation: legLeft .3s linear infinite alternate;
}

/* .left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
		transition: all .5s;
} */

.right_leg {
	margin-left: 30px;
	animation: legRight .3s linear infinite alternate;
}

.left_eye, .right_eye {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: white;
	opacity: 1;
	animation: eyesFlash 2s ease-in-out infinite alternate;

}

.left_eye {
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative;
	top: 100px;
	left: 40px;
}

.right_eye {
	position: relative;
	top: 100px;
	left: 120px;
}
